<div
  class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-bg-background tw-px-4 tw-py-12 sm:tw-px-6 lg:tw-px-8">
  <div class="tw-mx-auto tw-max-w-md tw-text-center">
    <i class="pi pi-check-circle tw-text-green-500 tw-text-7xl"></i>
    <h1
      class="tw-mt-4 tw-text-3xl tw-font-bold tw-tracking-tight tw-text-foreground sm:tw-text-4xl">
      ¡Bienvenido a trilma!
    </h1>
    <p class="tw-mt-4 tw-text-muted-foreground">
      Gracias por verificar tu correo electrónico. Ya puedes comenzar a
      disfrutar de todas las funcionalidades de nuestra aplicación.
    </p>
    <div class="mt-6">
      <a
        class="tw-text-white tw-bg-black tw-w-fit tw-mx-auto tw-rounded-md tw-py-2 tw-px-3 tw-flex tw-justify-center tw-items-center tw-text-nowrap"
        href="/log_in"
        >Iniciar sesión</a
      >
    </div>
  </div>
</div>
