@if (this.exercises !== undefined) {
  <div>
    <button
      mat-flat-button
      color="accent"
      class="mt-5"
      (click)="createTest()"
      [disabled]="this.exercisesSelected.length === 0">
      Save
    </button>
    <div class="flex">
      <div class="w-96 max-w-full mr-6 mb-6 inline-block align-top">
        <h2>Available</h2>
        <div
          id="exercises"
          cdkDropList
          [cdkDropListData]="exercises"
          cdkDropListConnectedTo="exercisesSelected"
          class="list-exercises"
          (cdkDropListDropped)="drop($event)">
          @for (exercise of exercises; track exercise.id) {
            <div class="example-box" [cdkDragData]="exercise.id" cdkDrag>
              {{ exercise.id }}
            </div>
          }
        </div>
      </div>
      <div class="w-96 max-w-full mr-6 mb-6 inline-block align-top">
        <h2>Selected</h2>
        <div
          id="exercisesSelected"
          cdkDropList
          [cdkDropListData]="exercisesSelected"
          cdkDropListConnectedTo="exercises"
          class="list-exercises"
          (cdkDropListDropped)="drop($event)">
          @for (exercise of exercisesSelected; track exercise.id) {
            <div class="example-box" cdkDrag [cdkDragData]="exercise.id">
              {{ exercise.id }}
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
